/* Start Global Rules */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-size: 10px;
}
@media(max-width: 600px) {
    html {
        font-size: 9px;
    }
}
@media(max-width: 450px) {
    html {
        font-size: 8px;
    }
}
body {
    font-family: sans-serif;
    width: 100%;
    overflow-x: hidden;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    outline: none;
}

.heading {
    text-align: center;
    margin-bottom: 7rem;
}
.heading h2 {
    text-transform: capitalize;
    color: var(--secondary-color);
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
.heading span {
    color: var(--primary-color);
}
.heading p {
    font-size: 1.6rem;
    color: var(--dark-gray-color);
    line-height: 1.6;
}
.container {
    padding: 0 20px;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* End Global Rules */

/* Start Variables */
:root {
    --primary-color: #F2545F;
    --secondary-color: #333;
    --white-color: #fff;
    --gray-color: #DDD;
    --dark-gray-color: #707070;
    --light-blue-color: #66CCFF;
    --section-padding: 11rem;
}

/* End Variables */


/* ==================================================================================
Start Intro
==================================================================================   */
.intro {
    min-height: 100vh;
    background: url(../images/intro-bg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.intro .nav-bar {
    background-color: #000;
    position: fixed;
    width: 100%;
    padding: 2rem 0;
}
.intro .nav-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.intro .nav-bar .logo {
    font-size: 3rem;
    text-transform: capitalize;
}
.intro .nav-bar .logo a {
    color: var(--white-color);
}
.intro .nav-bar .logo span {
    color: var(--primary-color);
    font-weight: 100;
}

.intro .nav-links .links {
    text-transform: capitalize;
    display: flex;
}
.intro .nav-links .links li a {
    display: block;
    color: var(--gray-color);
    font-size: 1.6rem;
}
.intro .nav-links .links li:not(:last-child) a {
    margin-right: 3rem;
}
.intro .nav-links .links li a:hover,
.intro .nav-links .links .active a {
    color: var(--light-blue-color);
}

.intro .intro-content {
    padding-top: 27rem;
    text-align: center;
}
.intro .intro-content p {
    color: var(--gray-color);
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-bottom: 8rem;
}
.intro .intro-content h1 {
    color: var(--white-color);
    font-size: 4rem;
    letter-spacing: .2rem;
    text-transform: capitalize;
    margin-bottom: 5.5rem;
}
.intro .intro-content .intro-btn .one,
.intro .intro-content .intro-btn .two {
    padding: 1.4rem 4rem;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: var(--white-color);
    text-transform: uppercase;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.intro .intro-content .intro-btn .one {
    background-color: transparent;
    border: 2px solid var(--white-color);
    margin-right: 1.4rem;
}
.intro .intro-content .intro-btn .one:hover {
    background-color: var(--white-color);
    color: var(--secondary-color);
}
.intro .intro-content .intro-btn .two {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
}
.intro .intro-content .intro-btn .two:hover {
    background-color: transparent;
    border-color: var(--white-color);
}

input {
    display: none;
}
 .toggle-icon {
    color: var(--white-color);
    font-size: 3rem;
    cursor: pointer;
    display: none;
}

/* ======================================== Media Queries ======================================== */
@media (max-width: 1200px) {
    .intro .nav-bar .logo {
        font-size: 2rem;
    }
    .intro .nav-links .links li a {
        font-size: 1.4rem;
    }
}

@media (max-width: 992px) {
    .toggle-icon {
        display: block;
    }
    #menu-bar {
        position: relative;
    }
    #menu-bar:checked ~ .links {
        display: flex;
    }
    .intro .nav-links .links {
        z-index: 999 !important;
        position:absolute;
        display: none;
        background-color: var(--secondary-color);
        top: 7.5rem;
        left: 0;
        width: 100%;
        padding: 4rem 0;
        flex-direction: column;
        align-items: center;
    }
    .intro .nav-links .links li a {
        margin-right: 0 !important;
        font-size: 1.6rem;
        color: var(--gray-color);
    }
    .intro .nav-links .links li:not(:last-of-type) a {
        margin-bottom: 3rem;
    }
}

@media (max-width: 600px) {
    .intro .intro-content .intro-btn {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 20rem;
        margin: auto;
    }
    .intro .intro-content .intro-btn .one {
        margin-right: 0;
    }
}



/* ================================================================================== 
Start Overview
==================================================================================   */
.overview {
    padding: var(--section-padding) 0;
}
.overview .overview-one {
    display: flex;
    justify-content: space-between;
}
.overview .overview-one .content span {
    display: block;
    font-size: 2rem;
    color: var(--secondary-color);
    margin-bottom: 5rem;
}
.overview .overview-one .content p {
    max-width: 55rem;
    font-size: 1.6rem;
    color: var(--dark-gray-color);
    font-weight: 100;
    line-height: 1.6;
}
.overview .overview-one .content p:last-of-type {
    margin-top: 2.2rem;
}
.overview .overview-one img {
    width: 54rem;
}

.overview .overview-two {
    margin: var(--section-padding) 0;
    background-color: #222222;
    padding: 6rem;
    text-align: center;
}
.overview .overview-two .container {
    display: flex;
    justify-content: space-between;
    gap: 10rem;
}
.overview .overview-two i {
    font-size: 4.5rem;
    color: var(--primary-color);
    width: 4rem;
    height: 4rem;
    display: block;
    margin: 0 auto 2.5rem;
}
.overview .overview-two h2 {    
    text-transform: capitalize;
    font-size: 2.5rem;
    color: var(--gray-color);
    font-weight: 400;
}
.overview .overview-two p {
    font-size: 1.7rem;
    color: var(--dark-gray-color);
    line-height: 1.6;
    margin: 2rem 0 3rem;
}

.overview .overview-three .container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.overview .overview-three .content h2 {
    font-size: 2rem;
    font-weight: 300;
    color: var(--secondary-color);
    margin-bottom: 3rem;
    line-height: 1.6;
}
.overview .overview-three .content p:first-of-type {
    font-size: 1.8rem;
    color: var(--dark-gray-color);
    line-height: 1.7;
    margin-bottom: 2rem;
}
.overview .overview-three .content p:last-of-type {
    font-size: 1.6rem;
    color: var(--dark-gray-color);
    line-height: 1.5;
}


/* ======================================== Media Queries ======================================== */

@media (max-width: 1200px) {
    .overview .overview-one {
        flex-direction: column;
        gap: 3rem;
    }
    .overview .overview-one .content p,
    .overview .overview-three .content p {
        max-width: 80%;
    }
    .overview .overview-one img {
        width: 70%;
    }
    .overview .overview-two .container,
    .overview .overview-three .container {
        flex-direction: column;
        gap: 3rem;
    }
    .overview .overview-two p {
        width: 70%;
        margin: 2rem auto 3rem;
    }
}

@media (max-width: 768px) {
    .overview .overview-two p {
        width: 100%;
    }

}

@media (max-width: 650px) {
    .overview .overview-three iframe {
        width: 90%;
    }

}




/* ================================================================================== 
Start Speakers
==================================================================================   */
.speakers {
    background-color: #f5f5f5;
    padding: var(--section-padding) 0 7rem;
}
.speakers .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap: 2.5rem;
}
.speakers .boxes .box img {
    width: 100%;
    display: block;
}
.speakers .boxes .box .info {
    text-align: center;
    padding-top: 1.5rem;
    text-transform: capitalize;
}
.speakers .boxes .box .info h3 {
    font-size: 1.8rem;
    color: var(--secondary-color);
    font-weight: 100;
    margin-bottom: 1.5rem;
}
.speakers .boxes .box .info p {
    color: var(--dark-gray-color);
    font-size: 1.2rem;
}




/* ================================================================================== 
Start Programs
==================================================================================   */
.programs {
    padding: var(--section-padding) 0 15rem;
}
.programs .heading {
    text-align: start;
}
.programs .programs-cont ul {
    display: flex;
    text-transform: capitalize;
}
.programs .programs-cont ul li a {
   
    display: block;
    margin-right: 3rem;
    font-size: 1.6rem;
    color: var(--secondary-color);
    font-weight: 600;
    margin-bottom: 2rem;
}
.programs .programs-cont ul li a::before {
    /* position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--secondary-color);
    left: 0;
    top: 3.8rem;
    display: none; */
}
.programs .programs-cont ul li:hover {
    color: var(--primary-color);
    border-bottom: 1px solid var(--secondary-color);
   
}

.programs .programs-cont ul li a:hover {
    color: var(--primary-color);
}
.programs .programs-cont hr {
    display: block;
    width: 82%;
}
.programs .columns {
    padding-top: 3rem;
}
.programs .columns .col {
    margin-bottom: 10rem;
    display: flex;
}
.programs .columns .col img {
    display: block;
    width: 15rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.programs .columns .col-content {
    margin-left: 5rem;
}
.programs .columns .col-content .info {
    display: flex;
    align-items: center;
    color: var(--secondary-color);
    margin-bottom: 1.5rem;
}
.programs .columns .col-content .info .one,
.programs .columns .col-content .info .two {
    display: flex;
    align-items: center;
}
.programs .columns .col-content .info .two {
    margin-left: 2rem;
}
.programs .columns .col-content .info i {
    font-size: 1.2rem;
    display: block;
    margin-right: 0.5rem;
}
.programs .columns .col-content .info p {
    font-weight: bold;
    font-size: 1.1rem;
}
.programs .columns .col-content h3 {
    font-size: 2.5rem;
    color: #555;
    margin-bottom: 1.2rem;
}
.programs .columns .col-content span {
    font-size: 1.2rem;
    color: var(--dark-gray-color);
    text-transform: capitalize;
    font-weight: bold;
}
.programs .columns .col-content > p {
    margin-top: 2.5rem;
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--dark-gray-color);
    width: 80%;
}

/* ======================================== Media Queries ======================================== */

@media (max-width: 992px) {
    .programs .heading {
        text-align: center;
    }
    .programs .columns .col {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        text-align: center;
    }   
    .programs .columns .col-content {
        margin-left: 0;
    }
    .programs .columns .col-content .info {
        justify-content: center;
    }
    .programs .columns .col-content > p {
        width: 100%;
    }
}

@media (max-width: 325px) {
    .programs .programs-cont ul li a {
        margin-right: 1rem;
    }
}




/* ================================================================================== 
Start Register
==================================================================================   */
.register {
    background: url(../images/register-bg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: var(--section-padding) 0 15rem;
}
.register .content {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    max-width: 92%;
}
.register .heading {
    text-align: start;
}
.register .heading h2 {
    color: var(--white-color);
}

.register .heading p:first-of-type {
    color: var(--white-color);
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.4;
    margin-bottom: 2rem;
}
.register .form {
    width: 74rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.register .form input {
    color: var(--white-color);
    display: inline-block;
    width: 100%;
    margin-bottom: 1.5rem;
    background-color: transparent;
    padding: 1.6rem 0 1.5rem 3%;
    border:  2px solid var(--white-color);
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
.register .form input:focus {
    outline: 1px solid var(--light-blue-color);
}
.register .form input::placeholder {
    color: var(--dark-gray-color);
    font-size: 1.4rem;
    text-transform: capitalize;
}
.register .form .register-btn button {
    cursor: pointer;
    padding: 1.2rem 3.2rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 2rem;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    outline: none;
    border: none;
    margin-top: 1.5rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}
.register .form .register-btn button:hover {
    color: var(--secondary-color);
    background-color: var(--white-color);
}

/* ======================================== Media Queries ======================================== */
@media (max-width: 992px) {
    .register .content {
        flex-direction: column;
    }
    .register .form {
        align-items: flex-start;
        max-width: 100%;
    }
}





/* ================================================================================== 
Start Question
==================================================================================   */
.question {
    padding: var(--section-padding) 0;
}
.question .heading h2 {
    font-weight: normal;
}
.question .content {
    max-width: 82%;
    margin: auto;
}
.question .content .box:not(:last-of-type) {
    margin-bottom: 1rem;
}
.question .content .ques {
    cursor: pointer;
    padding: 1.2rem 1.2rem 1.2rem 4rem;
    background-color: var(--gray-color);
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.question .content .ques h3 {
    font-size: 2rem;
    font-weight: normal;
}
.question .content .ques i {
    color: var(--secondary-color);
    font-size: 1.4rem;
}
.question .content .paragraph {
    padding: 1.4rem 1rem 1.4rem 4rem;
    box-shadow: 0.7px 2px 3px #7070704b,  
                  -0.7px 2px 3px #7070704b;
    border-radius: 0 0 0.2rem 0.2rem;
    -webkit-border-radius: 0 0 0.2rem 0.2rem;
    -moz-border-radius: 0 0 0.2rem 0.2rem;
    -ms-border-radius: 0 0 0.2rem 0.2rem;
    -o-border-radius: 0 0 0.2rem 0.2rem;
}
.question .content .paragraph p {
    color: var(--dark-gray-color);
    font-size: 1.6rem;
}
.question .content .paragraph p:first-of-type {
    margin-bottom: 1.5rem;
}

/* ======================================== Media Queries ======================================== */
@media (max-width: 768px) {
    .question .content .ques h3 {
        line-height: 1.4;
        padding-right: 1.5rem;
    }
}




/* ================================================================================== 
Start Venue
==================================================================================   */
.venue {
    padding: var(--section-padding) 0;
    background: url(../images/venue-bg.jpg) no-repeat;
    /* background-size: cover;  */
    background-attachment: fixed;
}
.venue .content {
    margin-left: 11rem;
}
.venue h2 {
    font-size: 3rem;
    color: var(--primary-color);
    text-transform: capitalize;
    margin-bottom: 3rem;
}
.venue p {
    font-size: 1.6rem;
    color: var(--dark-gray-color);
    line-height: 1.4;
    width: 45rem;
    margin-bottom: 3rem;
}
.venue .info span {
    display: block;
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--secondary-color);
}

/* ======================================== Media Queries ======================================== */
@media (max-width: 768px) {
    .venue .content {
        margin-left: 6rem;
    }
    .venue p {
        width: 100%;
    }
}




/* ================================================================================== 
Start Sponsors
==================================================================================   */
.sponsors {
    padding: var(--section-padding) 0 6rem;
}
.sponsors .cards {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.sponsors .cards .card {
    background-color: #F9F9F9;
    width: 26rem;
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sponsors .cards .card h4 {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: .3rem;
}




/* ================================================================================== 
Start Contact
==================================================================================   */
.contact {
    padding: var(--section-padding) 0;
    background: url(../images/contact-bg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.contact .content {
    display: flex;
    align-items: center;
    margin-left: 11rem;
    gap: 1rem;
}
.contact .content h2 {
    text-transform: capitalize;
    color: var(--secondary-color);
    font-size: 4rem;
    font-weight: normal;
    margin-bottom: 2.5rem;
}
.contact .content span {
    color: var(--primary-color);
}
.contact .content .info p {
    color: var(--dark-gray-color);
    font-size: 1.6rem;
    margin-bottom: 2.5rem;
    max-width: 46rem;
}
.contact .content .info .contact-btn {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: var(--white-color);
    text-transform: capitalize;
    font-size: 2rem;
    letter-spacing: .1rem;
    padding: 1.2rem 3.2rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.contact .content .info .contact-btn:hover {
    background-color: var(--secondary-color);
}

.contact .content .box {
    max-width: 45rem;
    padding: 10rem 0.5rem 10rem 4rem;
    background-color: var(--white-color);
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}
.contact .content .box .contact-form input,
.contact .content .box .contact-form textarea {
    display: inline-block;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #e3e2e2a3;
}
.contact .content .box .contact-form input:focus,
.contact .content .box .contact-form textarea:focus {
    border-bottom: 1px solid #9b9b9b;

}
.contact .content .box .contact-form input:not(:last-of-type) {
    padding-bottom: 1rem;
    padding-top: 3rem;
}
.contact .content .box .contact-form textarea {
    padding-top: 3rem;
    margin-bottom: 7rem;
}
.contact .content .box .contact-form ::placeholder {
    font-size: 1.2rem;
    text-transform: capitalize;
    color: var(--dark-gray-color);
    font-weight: bold;
    letter-spacing: .07rem;
}
.contact .content .box .contact-form input:last-of-type {
    cursor: pointer;
    width: 13rem;
    background-color: var(--secondary-color);
    color: var(--white-color);
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: .1rem;
    border-radius: 2rem;
    padding: 1.2rem 0;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.contact .content .box .contact-form input:last-of-type:hover {
    background-color: var(--primary-color);
}

/* ======================================== Media Queries ======================================== */
@media (max-width: 992px) {
    .contact .content {
        flex-direction: column;
        margin-left: 0;
        gap: 3rem;
    }
}




/* ================================================================================== 
Start Footer
==================================================================================   */
.footer {
    padding: var(--section-padding) 0;
    text-align: center;
}
.footer p {
    font-size: 1.6rem;
    color: var(--dark-gray-color);
}
.footer span {
    color: var(--primary-color);
    font-weight: bold;
    text-transform: capitalize;
}
footer .social-icons {
    margin-top: 3rem;
    color: var(--dark-gray-color);
    font-size: 1.4rem;
}
footer .social-icons i:not(:last-of-type) {
    margin-right: 1rem;
}
footer .social-icons i{
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.footer .social-icons .fa-brands:hover {
    color: var(--white-color);
    background-color: var(--primary-color);    
}