/* Start Global Rules */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-size: 10px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    outline: none;
}
button,
input {
    border: none;
    outline: none;
    cursor: pointer;
}

.container {
    padding: 0 20px;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* End Global Rules */

/* Start Variables */
:root {
    
}

/* End Variables */


/* ==================================================================================
Start 
==================================================================================   */





/* ======================================== Media Queries ======================================== */







/* ================================================================================== 
Start
==================================================================================   */





/* ======================================== Media Queries ======================================== */








